<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="~/admin 2/index.html" class="logo">
                <span class="navbar-brand fw-bold" style="font-size: 1.5rem; color: #fff;">
                    Yönetim Paneli
                </span>
            </a>

            <div class="nav-toggle">
                <!-- Sidebar Daralt Butonu -->
                <button class="btn btn-toggle toggle-sidebar" title="Menüyü Daralt">
                    <i class="gg-menu-right"></i>
                </button>
                <!-- Sidebar Genişlet Butonu -->
                <button class="btn btn-toggle sidenav-toggler" title="Menüyü Genişlet">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <!-- Üst Menü Butonu -->
            <button class="topbar-toggler more" title="Daha Fazla">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">

                <!-- Ana Sayfa -->
                <li class="nav-item">
                    <a href="/AdminBook/Index">
                        <i class="fa-solid fa-house"></i>
                        <p>Ana Sayfa</p>
                    </a>
                </li>

                <!-- Özellikler -->
                <li class="nav-item">
                    <a href="/AdminBook/AdminFeatures">
                        <i class="fa-solid fa-cogs"></i>
                        <p>Özellikler</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Articles/ArticleList">
                        <i class="fa-solid fa-newspaper"></i>
                        <p>Makale Listesi</p>
                    </a>
                </li>
                <!-- Ürünler -->
                <li class="nav-item">
                    <a href="/AdminBook/AdminProducts">
                        <i class="fa-solid fa-box"></i>
                        <p>Ürünler</p>
                    </a>
                </li>

                <!-- Yazarlar -->
                <li class="nav-item">
                    <a href="/AdminBook/AdminWriters">
                        <i class="fa-solid fa-user-edit"></i>
                        <p>Yazarlar</p>
                    </a>
                </li>

                <!-- Ayarlar -->
                <li class="nav-item">
                    <a href="/Admin/Settings">
                        <i class="fa-solid fa-cog"></i>
                        <p>Ayarlar</p>
                    </a>
                </li>

                <!-- Kullanıcı Yönetimi -->
                <li class="nav-item">
                    <a href="/Admin/Users">
                        <i class="fa-solid fa-users"></i>
                        <p>Kullanıcılar</p>
                    </a>
                </li>

                <!-- Belgeler -->
                <li class="nav-item">
                    <a href="/Admin/Documentation">
                        <i class="fa-solid fa-file"></i>
                        <p>Belgeler</p>
                    </a>
                </li>

            </ul>


        </div>
    </div>
</div>