<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Yönetim Paneli - Kaiadmin Bootstrap 5 Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="~/admin 2/assets/img/kaiadmin/favicon.ico"
          type="image/x-icon" />

    <!-- Yazı Tipleri ve Simgeler -->
    <script src="~/admin 2/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
          google: { families: ["Public Sans:300,400,500,600,700"] },
          custom: {
            families: [
              "Font Awesome 5 Solid",
              "Font Awesome 5 Regular",
              "Font Awesome 5 Brands",
              "simple-line-icons",
            ],
            urls: ["../assets/css/fonts.min.css"],
          },
          active: function () {
            sessionStorage.fonts = true;
          },
        });
    </script>

    <!-- CSS Dosyaları -->
    <link rel="stylesheet" href="~/admin 2/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin 2/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/admin 2/assets/css/kaiadmin.min.css" />

    <!-- Demo için ekstra CSS, projeye eklemeyin -->
    <link rel="stylesheet" href="~/admin 2/assets/css/demo.css" />
</head>
